{% extends 'master.html' %}

{% block title %}
ForoVox | Ver Foro
{% endblock %}

{% block content %}

{% include 'components/usuario-display.html' %}
<div class="flex justify-center">
  <div class="max-w-7xl w-full xl:pl-[20.813rem]">
    <div class="">
      <img src="" alt="">
      <h1>programación</h1>
      <p>Un espacio para compartir conocimientos, resolver dudas y discutir sobre lenguajes, frameworks,
        desarrollo web, IA y más. Tanto principiantes como expertos pueden colaborar, compartir proyectos
        y superar desafíos de código juntos. ¡Únete para aprender y crecer como programador!</p>
    </div>
  </div>
</div>

{% endblock %}